<h2>Products in the cart</h2>

<div class="row">
    {{#each products}}
        <div class="card col-3 mb-3">
            <div class="card-body">
                <p class="card-text">Id: <b>{{this.id}}</b></p>
                <p class="card-text">Title: <b>{{this.title}}</b></p>
                <p class="card-text">Description: <b>{{this.description}}</b></p>
                <p class="card-text">Code: <b><{{this.code}}</b></p>
                <p class="card-text">Price: <b>{{this.price}}</b></p>
                <p class="card-text">Stock: <b>{{this.stock}}</b></p>
                <p class="card-text">Category: <b>{{this.category}}</b></p>
                <p class="card-text">Quantity: <b>{{this.quantity}}</b></p>
            </div>
        </div>
    {{/each}}
</div>