<div>
    <h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
    <a href="/api/auth/logout">Cerrar sesión</a>
</div>

<h2>Lista de productos</h2>
<div class="row">
    {{#each products}}
        <div class="card col-4 mb-3">
            <div class="card-body">
                <p class="card-text">Id: {{this.id}}</p>
                <p class="card-text">Title: {{this.title}}</p>
                <p class="card-text">Description: {{this.description}}</p>
                <p class="card-text">Code: {{this.code}}</p>
                <p class="card-text">Price: {{this.price}}</p>
                <p class="card-text">Stock: {{this.stock}}</p>
                <p class="card-text">Category: {{this.category}}</p>
            </div>
        </div>
    {{/each}}
</div>