<div class='card'>
	<div class='card-body'>
		<p class='card-text'>Id: <span class="bold">{{product._id}}</span></p>
		<p class='card-text'>Title: <span class="bold">{{product.title}}</span></p>
		<p class='card-text'>Description: <span class="bold">{{product.description}}</span></p>
		<p class='card-text'>Code: <span class="bold">{{product.code}}</span></p>
		<p class='card-text'>Price: <span class="bold">{{product.price}}</span></p>
		<p class='card-text'>Stock: <span class="bold">{{product.stock}}</span></p>
		<p class='card-text'>Category: <span class="bold">{{product.category}}</span></p>
		<p class='card-text'>Status: <span class="bold">{{product.status}}</span></p>
		<p class='card-text'>Thumbnail: <span class="bold">{{product.thumbnail}}</span></p>
	</div>
	<button class='btn'>Add to cart</button> <!--AGREGAR RUTA-->
</div>

<a href='/api/products' class='btn'>Back</a>