<h2>Real-time products</h2>

<div id="preLoadProducts" class="row">
    {{#each products}}
		<div class='card col-md-3 m-3'>
			<div class='card-body'>
				<p class='card-text'>Id: <span class="bold">{{this.id}}</span></p>
				<p class='card-text'>Title: <span class="bold">{{this.title}}</span></p>
				<p class='card-text'>Description: <span class="bold">{{this.description}}</span></p>
				<p class='card-text'>Code: <span class="bold">{{this.code}}</span></p>
				<p class='card-text'>Price: <span class="bold">{{this.price}}</span></p>
				<p class='card-text'>Stock: <span class="bold">{{this.stock}}</span></p>
				<p class='card-text'>Category: <span class="bold">{{this.category}}</span></p>
			</div>
		</div>
	{{/each}}
</div>

<div id="messageProduct" class="row">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>