<h2>Lista de productos en tiempo real</h2>

<div id="preLoadProducts" class="row">
    {{#each products}}
        <div class="card col-md-3 mb-3">
            <div class="card-body">
                <p class="card-text">Id: <b>{{this.id}}</b></p>
                <p class="card-text">Title: <b>{{this.title}}</b></p>
                <p class="card-text">Description: <b>{{this.description}}</b></p>
                <p class="card-text">Code: <b><{{this.code}}</b></p>
                <p class="card-text">Price: <b>{{this.price}}</b></p>
                <p class="card-text">Stock: <b>{{this.stock}}</b></p>
                <p class="card-text">Category: <b>{{this.category}}</b></p>
            </div>
        </div>
    {{/each}}
</div>

<div id="messageProduct" class="row">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>