<header id='header' class='p-4 d-flex justify-content-between align-items-center'>
	<img src='/img/logo.png' alt='logo' width='100' class="mx-5">
	<div>
		<p class='fs-3'>Welcome <span class='bold '>{{user.first_name}} {{user.last_name}}</span></p>
	</div>
	<div class='d-flex align-items-center'>
		<div class='dropdown mx-3'>
			<button class='dropdown-toggle border-0 p-2' type='button' data-bs-toggle='dropdown' aria-expanded='false'>
				<img src='/img/account.png' alt='dropdown account' width='32' height='32'>
			</button>
			<ul class='dropdown-menu fs-4'>
				<li><a href='/api/profile' class='dropdown-item'>Profile</a></li>
					{{#if isUser}}
						<li><a href='/api/premium' class='dropdown-item'>Be Premium</a></li>
					{{/if}}
				<li><a href='/api/auth/logout' class='dropdown-item'>Log out</a></li>
			</ul>
		</div>
	</div>
</header>
<main id="main" class="d-flex flex-column justify-content-center align-items-center">
	{{#if ticket}}
		<div id="ticket-purchase" class="d-flex flex-column align-items-center">
			<h1>Ticket purchase</h2>
			<div class="fs-4">
				<p>Code: <span class='bold'>{{ticket.code}}</span></p>
				<p>Date: <span class='bold'>{{ticket.purchase_datetime}}</span></p>
				<p>Amount: <span class='bold'>${{ticket.amount}}</span></p>
				<p>Purchaser: <span class='bold'>{{ticket.purchaser}}</span></p>
			</div>  
		</div>
		<div class="row my-5">
			<table class="table fs-3 col-md-10">
				<h2>Products purchased successfully</h2>
				<thead>
					<tr>
						<th scope="col">_id</th>
						<th scope="col">Quantity</th>
					</tr>
				</thead>
				<tbody>
					{{#each productsPurchase}}
						<tr>
							<td class="align-middle">{{this._id}}</td>
							<td class="text-center align-middle">{{this.quantity}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	{{/if}}
	{{#if productsOutOfStock}}
		<div class="row my-5">
			<table class="table fs-3 col-md-10">
				<h2>Out of stock products:</h2>
				<thead>
					<tr>
						<th scope="col">_id</th>
						<th scope="col">Quantity</th>
					</tr>
				</thead>
				<tbody>
					{{#each productsOutOfStock}}
						<tr>
							<td class="align-middle">{{this._id}}</td>
							<td class="text-center align-middle">{{this.quantity}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	{{/if}}
</main>

<div>
	<a href='/api/products' class='btn btn-secondary m-3 fs-3'>Back to home</a>
</div>